@using DataAccess.Models
@model Article
@{
    ViewBag.Title = "Articles";
}

<div class="row">
    <div class="col-sm-9">
        <h2>@Model.Title</h2>
        <p>@Model.AuthorName</p>
        <hr />
    </div>
</div>

<br />
@if (User.IsInRole("User") || User.IsInRole("Admin"))
{
    if (ViewBag.canEdit)
    {
        @Html.ActionLink("Upravit příspěvek", "Edit", "Articles", new {articleId = Model.Id}, new { @class = "btn btn-default" })
    }
}

<br />

<div class="row">
    <div class="col-sm-9">
        <p>@Html.Raw(Model.Content)</p>
    </div>
</div>
<br />
<br />
<hr/>
<h4>@Html.ActionLink("Diskuze(" + (string)ViewBag.CommentsCount + ")", "CommentsForArticle", "Comments", new { articleId = Model.Id }, new { title = "Diskuze" })</h4> 