<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    @Html.ActionLink("Úvod", "Index", "Home", null, new { @class = "navbar-brand" });
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Odhlásit se(" + User.Identity.Name + ")", "SignOut", "Home",null,new { @class = "navbar-brand" });
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container body-content">
    @if (TempData["message-success"] != null)
    {
        <div class="alert alert-success fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            @TempData["message-success"]
        </div>
    }
    @if (TempData["error"] != null)
    {
        <div class="alert alert-warning fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            @TempData["error"]
        </div>
    }
    <section>
        <div class="row">
           @RenderSection("Login",false)
        </div>
    </section>
    @RenderBody()
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
</body>
</html>